.box{
  background-color: rgba(0, 0, 0, .75);
  position: absolute;
  width: 102%;
  height: 1280px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -10px;
}



input[type='button']{
position: absolute;
    left:10px;
    z-index:1000;
    float: right;
    top: 5px;
}
