
.box {
  margin-left: -10px;
  margin-top: -205px;
  width: 775px;
  height: 645px;
  overflow: hidden;
}

input[type='button']{
position: absolute;
    right:10px;
    z-index:1000;
    float: right;
    top: 5px;
}
